@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255; /* white */
  --background-start: 1, 1, 35; /* deep blue (#010123) */
  --background-end: 1, 1, 75; /* dark blue (#01012e) */
}

/* @media (prefers-color-scheme: dark) { // for dark color scheme
  :root {
    --foreground-rgb: 20, 20, 20;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 20, 20, 20;
  }
} */

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
